mixin friendListItem({ name, url, title, width = 70, height = 70, type = 'png' })
  if url
    a.friendListItem(target="_blank" rel="noopener" href= url)
      img(
        loading="lazy"
        title= title
        alt= title
        src= `${pageMeta.staticUrl}/${name}.${type}`
        width= width
        height= height
      )
  else
    img(
      loading="lazy"
      title= title
      alt= title
      src= `${pageMeta.staticUrl}/${name}.${type}`
      width= width
      height= height
    )
