mixin PageLogo(title, text)
  div.logo.nav.exit.menu(title= `${title}${text ? ` - ${text}` : ''}`)
    include /logos/logo-left.svg
    span= i18n(text || title)
    include /logos/logo-right.svg

    ul
      for target in pageMeta.teleport
        li
          a(href=target.url)= target.name
