mixin Picture(args)
  picture
    source(type="image/webp" srcset=replaceSlashSlash(`/${args.file}.webp`))
    img(
      class=args.class
      width=args.width
      height=args.height
      loading="lazy"
      alt=args.alt ? i18n(args.alt) : ""
      role="presentation"
      src=replaceSlashSlash(`/${args.file}.${args.type || 'jpg'}`)
    )
