div#hud
  img#hud-exit-button(src=`${pageMeta.staticUrl}/button/exit.svg` alt="Exit" title="Exit Experience")

  div.w#hud-searching-hittest
    img(src=`${pageMeta.staticUrl}/three/search_floor.svg` alt="" role="presentation")
    p= i18n('searching for floor')

  div.w#hud-swipe-to-remove
    img(src=`${pageMeta.staticUrl}/three/swipe.svg` alt="" role="presentation")
    p= i18n('swipe to reposition')

  div#toggle-animation-button
    svg.play(viewbox="0 0 116 175")
      path(d="M10 155v-136l90 68z" fill="#fafafa" stroke="#0c0c0c" stroke-width="20")

    svg.pause(viewbox="0 0 128 176")
      g(fill="#fafafa" stroke="#0c0c0c" stroke-width="18.975")
        path(d="M45.512 166.512H9.488V9.488h36.024zM119.512 166.512H83.488V9.488h36.024z")

  div#hud-menu
    button#hud-menu-toggle toggle menu

    div#hud-menu-sub
      button#hud-menu-reposition reposition model
      button#hud-menu-record-video record video
