div.warning#warning
  div.container
    div.ios.w
      p.no-webxr.w= i18n('Your device supports augmented reality applications, but this browser does not.')

      p.all.w
        | !{i18n('Please download the')}
        | !{' '}
        a(target="_blank" href="https://apps.apple.com/us/app/webxr-viewer/id1295998056" rel="nofollow noreferrer noopener")
          | !{i18n('Mozilla Webxr Viewer')}
        | !{' '}
        | !{i18n('for a better experience in the Artificial Museum.')}

        a.button.styled.margin(href="https://apps.apple.com/us/app/webxr-viewer/id1295998056" rel="nofollow noreferrer noopener")= i18n('Install Webxr Viewer')

    div.android.w
      p.no.chrome.w
        | !{i18n('Currently, only Blink based browsers support augmented reality. This includes Brave Browser, Google Chrome, Samsung Browser and others.')}

      p.old.chrome.w
        | !{i18n('Your version of chrome is too old and does not support augmented reality.')}

      p.all.w
        | !{i18n('To get access to ar, please update your browser.')}
        | !{' '}
        a.button.styled.margin(
          target="_blank"
          href="https://play.google.com/store/apps/details?id=com.android.chrome&hl=en_US&gl=US"
          rel="nofollow noreferrer noopener"
        )= i18n('Update Chrome.')

        a.button.styled.margin(
          target="_blank"
          href="https://play.google.com/store/apps/details?id=com.brave.browser"
          rel="nofollow noreferrer noopener"
        )= i18n('Update Brave.')

    div.macos.w
      p.safari.w= i18n('Please use a different browser for the artificial museum, this browser is missing some critical features and will not provide an optimal experience.')

    p= i18n('If you insist on continuing, just press this button:')
    button.styled#close-warning= i18n('Understood')
